In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train=pd.read_csv('C:/Users/admin/OneDrive/Documents/Data Sciesnce Repository/Machine_Leaning_Projects/Black Friday Sales Pridiction/train.csv')
test=pd.read_csv('C:/Users/admin/OneDrive/Documents/Data Sciesnce Repository/Machine_Leaning_Projects/Black Friday Sales Pridiction/test.csv')

In [3]:
train.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [4]:
test.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
count,2.335990e+05,233599.000000,233599.000000,233599.000000,161255.000000,71037.000000
mean,1.003029e+06,8.085407,0.410070,5.276542,9.849586,12.669454
std,1.726505e+03,6.521146,0.491847,3.736380,5.094943,4.125944
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000
25%,1.001527e+06,2.000000,0.000000,1.000000,5.000000,9.000000
50%,1.003070e+06,7.000000,0.000000,5.000000,9.000000,14.000000
75%,1.004477e+06,14.000000,1.000000,8.000000,15.000000,16.000000
max,1.006040e+06,20.000000,1.000000,18.000000,18.000000,18.000000

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [29]:
all_data = [train, test]

In [23]:
categorical_features = ['Gender', 'Age', 'Occupation', 'City_Category', 'Stay_In_Current_City_Years', 'Marital_Status']
categorical_features

['Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status']

In [39]:
for I in categorical_features().colums:
    print(train)
    print(train[categorical_features].unique())
    print(train[categorical_features].value_counts())
    print('\n')

TypeError: 'list' object is not callable

In [24]:
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
for i in categorical_features.columns:
    print(i)
    print(categorical_features[i].unique())
    print(categorical_features[i].value_counts())
    print('\n')

AttributeError: 'list' object has no attribute 'columns'

In [ ]:
## Basic 
train.info()

In [ ]:
train.head()

In [ ]:
## Handeling categorical feature Age
df['Age'].unique()

In [ ]:
# Import label encoder (Second Technique)
from sklearn import preprocessing

# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
df['Age']= label_encoder.fit_transform(df['Age'])

df['Age'].unique()

In [ ]:
df.head()

In [ ]:
## Fixing categorical City_category
df_city=pd.get_dummies(df['City_Category'],drop_first=True)

In [ ]:
df.drop('City_Category',axis=1)
data=pd.concat([df,df_city],axis=1)

In [ ]:
data = data.drop('City_Category',axis=1)
data.isnull().sum()

In [ ]:
data['Product_Category_2'].unique()

In [ ]:
# Replace the missing value by mode
data['Product_Category_2']=data['Product_Category_2'].fillna(data['Product_Category_2']).mode

In [ ]:
data['Product_Category_2'].isnull().sum()

In [ ]:
data['Product_Category_3']=data['Product_Category_3'].fillna(data['Product_Category_3']).mode

In [ ]:
data['Product_Category_3'].isnull().sum()

In [ ]:
data['Stay_In_Current_City_Years'].unique()

In [ ]:
data['Stay_In_Current_City_Years']=data['Stay_In_Current_City_Years'].str.replace('+','')

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
## Convert Object into Integer
data['Stay_In_Current_City_Years']=data['Stay_In_Current_City_Years'].astype(int)

In [ ]:
data['B']=data['B'].astype(int)
data['C']=data['C'].astype(int)

In [ ]:
data.info()

In [ ]:
##Visualastion of Age vs Purchase
sns.barplot('Age','Purchase',hue='Gender',data=data)

# Purchasing of man is high then women

In [ ]:
#VIsualization of purchase with Occupation
sns.barplot('Occupation','Purchase',hue='Gender',data=data)

In [ ]:
sns.barplot('Product_Category_1','Purchase',hue='Gender',data=data)

In [ ]:
sns.barplot('Product_Category_2','Purchase',hue='Gender',data=data)

In [ ]:
sns.barplot('Product_Category_3','Purchase',hue='Gender',data=data)

In [ ]:
## Feature Scaling
data_test = data[data['Purchase'].isnull()]
data_train = data[~data['Purchase'].isnull()]
from sklearn.model_selection import train_test_split
X_train, X-test, y_train, y_test = train_test_split(
    X,y,test_sixe=0.33, random_state=42)